body{
overflow-x: auto;
margin:0% 0% 0% 0%;
background-color:#CEE6F3;
font-family: "Bookman Old Style", Georgia, serif;
}
.container{
display: grid;
grid-template-rows:auto;
position:relative;
margin:0% 0% 0% 0%;
width: 100vw;
}
.banner_cls{
display:block;
}
.div1_banner{
background-color:#87CBB9;
margin:0% 0% 0% 0%;
padding-top:2vh;
}
.div_name >* {
width:100vw;
margin:0% 0% 0% 0%;
}
.top_cloud{
position:relative;
display:inline-block;
margin:0 0 0 0;
left:60vw;
width:10vw;
height:auto;
}

.bird{
position:absolute;
left:65vw;
height:auto;
}

.myname h1{
position:relative;
font-family: 'Sacramento', cursive;
font-size:5vw;
text-align:center;
margin:0% 0% 0% 0%;
}
.div1_title h4{
position: relative;
font-family: 'Lobster', cursive;
font-size:2vm;
margin:0 0 0 0;
text-align:center;
}
.bottom_cloud{
position:relative;
display:inline-block;
margin:0 0 0 0;
left:25vw;
width:10vw;
height:auto;
}
img{
object-fit: contain;
max-width: 100%;
height: auto;
}
.bottom_deer{
position:absolute;
left:10vw;
width:15vw;
height:auto;
}
.bottom_grass{
position:relative;
width:100vw;
height:auto;
overflow:clip;
overflow-clip-margin: inherit;
}
.mountain{
position:absolute;
left:30vw;
width:40vw;
height:auto;
}
.just_text{
text-align: justify;
width: fit-content;
block-size: fit-content;
padding-right:5vw;
padding-left:4vw;
height:auto;
color: #001C30;
}
table,tr,th,td{
border:0.1vw solid black;
}
table{
text-align:left;
max-width:100vw;
height:auto;
}
td:hover {
background-color:#B9ED99;
}
td{
font-size:1.5vw;

}
th{
font-size:1.5vw;
color:164B60;
padding:2vw;
}

p {
  font-size:1.5vw;
}
h2{
font-size:1.5vw;
}
li{
font-size:1.5vw;
}
h3{
font-size:1.5vw;
}
h4{
font-size:1.5vw;
}
